.control-panel {
	text-align: center;
}

.btn {
	font-family: "Roboto Mono", monospace;
	margin-left: 8px;
	margin-right: 8px;
	text-transform: uppercase;
    border:2px solid #555555;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 24px;
	border-radius: 3px;
}

.btn:disabled {
	background-color: #efefef;
	color: #999999;
    border:2px solid #999999;
}
